
<div id="main">
  <div class="content-1">
    <div class="logo">
      <img src="../../../assets/weather-ios-logo.png" alt="">
    </div>
    <span></span>
    <div class="title">
      Il Mio sito bllximo
    </div>
  </div>
  <div class="searchBar">
   <input role="textbox" type="text" name="">
   <i class="fa fa-search" aria-hidden="true"></i>
  </div>
  <div class="options">
    <div class="language">
      <i class="fa-solid fa-globe"></i>
      <select name="" id="">
        <option value="EN">EN</option>
        <option value="IT">IT</option>
      </select>
    </div>
    <span>|</span>
    <div>
      <select name="" id="">
        <option value="World">C*</option>
        <option value="USA">F*</option>
      </select>
    </div>
  </div>
</div>
